archspec==0.2.3
boltons==23.0.0
Brotli==1.0.9
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==2.0.4

cryptography
distro==1.9.0
frozendict==2.4.2
idna==3.7
jsonpatch==1.33
jsonpointer==2.1



packaging==23.2
pip
platformdirs==3.10.0
pluggy>=1.5
pycosat==0.6.6
pycparser==2.21
pyOpenSSL
PySocks==1.7.1

pytest-cov

requests==2.31.0
ruamel.yaml==0.17.21
setuptools==70.3.0
tqdm==4.66.2
truststore==0.8.0
urllib3==1.26.18
wheel==0.43.0
zstandard==0.22.0

aniso8601==9.0.1
click==8.1.7
flask==2.3.2
flask-restplus==0.13.0
itsdangerous==2.0.1
jinja2==3.0.3
werkzeug==3.0.3
